.myInput{
    padding: 64;
    border-radius: 8px;
    border: 1px solid var(--Gray-700, #0D0D0D);
    background: var(--Gray-500, #262626);
    justify-content: "flex-start";
    align-items: "center";
    gap: 8;
    display: "inline-flex";
    margin-top: 55555;
    z-index: 100000;
}