body{
    background: var(--Gray-600, #1A1A1A);
}

.word_to{
    color: var(--Blue, #4EA8DE);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.word_do{
    color: var(--PurpleDark, #5E60CE);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.forms{
    position: absolute;
    top: 300px;
}

h1, p, h2, h3, label{
    color: var(--PurpleLight, #6d6ff1);
}

form {
    border-radius: 80px;
    padding: 20px;
}