.container {
    width: 100%;
  }
  
  .taskItem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .deadline {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .status {
    margin-top: 10px;
  }
  
  .status label {
    font-size: 16px;
    margin-right: 10px;
    color: #ffffff;
  }
  
  .status select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .status button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .status button:hover {
    background-color: #0056b3;
  }
  
  .todo {
    background-color: #ac0303; 
  }
  
  .inProgress {
    background-color: #bd9308; 
  }
  
  .completed {
    background-color: #09aa2e; 
  }